.nav-action-button {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    svg {
        width: 1em;
        height: 1em;
    }
}

.workspace-tab-header {
    svg {
        width: 1em;
        height: 1em;
    }
}